*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-background: #282A36;
    --color-foreground: #F8F8F2;
    --color-selection: #44475A;
    --color-comment: #6272A4;
    --color-red: #FF5555;
    --color-green: #50FA7B;
    --color-yellow: #F1FA8C;
    --color-orange: #ffa23e;
    --font-mono: "Fira Code", SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 120%;
}

html,
body,
.container{
    height: 100vh;
    overflow: hidden;
}

body{
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-mono);
    font-weight: 400;
}

strong{
    font-weight: 600;
}

.container{
    display: grid;
    grid-template: "monitor" 1fr "score" 66px / 1fr;
}

.monitor{
    grid-area: monitor;
    overflow: hidden;
}

.score{
    grid-area: score;
}

.score-list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.score-list__item{
    border-radius: 2px;
    background-color: var(--color-selection);
    min-width: 200px;
}

.score-list__item{
    display: inline-flex;
    flex-flow: row nowrap;
}

.score-list__item span{
    display: inline-block;
    padding: .7rem .6rem;
}

.score-list__item:not(:last-child){
    margin-right: 1rem;
}

.score-list__item__head{
    border-radius: 2px;
    background-color: var(--color-comment);
}

.score-list__item__number{
    color: var(--color-orange);
    text-align: center;
    flex-grow: 1;
}

.start{
    grid-area: monitor;
    align-self: center;
    justify-self: center;
}

.start__key{
    display: inline-block;
    border-radius: 2px;
    margin: 0 .5rem;
    padding: .3rem .5rem;
    background-color: var(--color-comment);
}

.word-already{
    opacity: .9;
    color: var(--color-green)
}
.word-current{
    color: var(--color-orange)
}
.word-ongoing{
    opacity: .9;
}

.word{
    position: absolute;
    top: -7%;
    opacity: 1;
    transform: scale3d(1, 1, 1);
    transform-origin: center;
    animation-name: down;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition: all 111ms;
}

@keyframes down{
    from {
        top:-7%
    }
    to {
        top: 100%
    }
}

.word-killed{
    opacity: 0;
    transform: scale3d(2, 2, 2);
}
